 
  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;700&family=Open+Sans:wght@300&family=Poppins:wght@500&display=swap');

 *{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
 }
 .containerWrapper {
    max-width: auto;
    margin-left: 20px;
    background-image: url(/images/Background\ 1\ 1.png);
     background-repeat: no-repeat;


}

.first_part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
     background-repeat: no-repeat;
     margin-left: 100px;


}

.first_logo {
     width: 150px;  
     height: 47px; 
     background-image: url(/images/[removal\ 4\ 2.png);
     background-repeat: no-repeat;
     
}

.first_ul {
    font-family: Poppins;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.first_list {
    text-decoration: none;
    color: #333; /* Change the text color as needed */
    margin-right: 20px; /* Adjust the margin as needed */
}

.first_wrap {
    position: relative;
}

.first_arrow {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.first_btn {
    background-color: #1A9E75;  
     border-radius: 20px;
    padding: 10px 20px;
    margin-left: 20px; 
    cursor: pointer;
    text-decoration: none;
    color: #FFFBFB;
    

}
.second_part{
     display:flex;
    
 }
.snd_heading{
     margin-left: 157px; 
    margin-top: 150px;
    font-size: 50px;
    font-family: Poppins;
 }
 .snd_para{
     margin-left: 157px; 
     font-family: Poppins;
     font-size: 18px;
     color: #606060;
     
  }
  .second_sub1{
     width: 400px;
    height: 400px;
    margin-left:200px ;
  }

  #car{
    height: 382px;
    width: 382px;
    
}
/* our products section */

.fifth_heading{
    font-family: Poppins;
font-size: 40px;
font-weight: 500;
line-height: 68px;
letter-spacing: 0em;
text-align: center;
margin-top: 102px;

} 
/* .containerWrapper1_container_third{
    /* border :3px solid blue; 
 
} */
  /* .third_part{
    /* border :5px solid black; 

 } */
.trd_sub{
    /* border:5px solid red; */
    display: flex;
    justify-content: space-between;


}
 .trd_sub1{
    box-shadow: 1px 1px 10px 0px #9999991A;
    box-shadow: -1px -1px 10px 0px #9999991A;
    width: 160px;
    height: 162px;
    top: 716px;
    left: 160px;
    border-radius: 20px;
  

 }
 
 #leftarr{
     margin-top: 51px;
     width: 40px;
     height: 40px;
 
}
#fast{
    width: 96px;
    height: 54.857px;
    margin-top: 36px;
    margin-left: 32px;
    

    
}
#img_trd_location{
    width: 72px;
    height: 72px;
    margin-top: 23px;
    margin-left: 44px;

    
}
#evCharging{
    height: 81px;
    width: 81px;
    margin-top: 23px;
    margin-left: 40px;

    
}
#insurance{
    height: 63px;
    width: 63px;
    margin-top: 30px;
    margin-left: 48px;


}
#assist{
    height: 63px;
    width: 63px;
    margin-top: 30px;
    margin-left: 49px;

    
}
 #toll_esti{
    width: 63px;
    height: 63px;
    margin-top: 30px;
    margin-left: 49px;



 }
 #rgt_arr{
    width: 40px;
    height: 40px;
    margin-top: 51px;
    

    
 }
 .thr_sub2{
    text-align: center;
    margin-bottom: 22px;


 }
 /* four_part */
 .four_part{
    display: flex;
    position: relative;


 }
 .four_heading{

    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 68px; /* 170% */
    margin-left: 160px;
    margin-top: 137px;
 }
 .four_para{
    color: #606060;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 31px; /* 172.222% */
    margin-left: 160px;
    

 }
 #iphone_1{
    position: absolute;
    width: 281.282px;
    height: 426px;
    flex-shrink: 0;
    margin-left: 300px;

     }
 #iphone_2{
    width: 234.44px;
    height: 444px;
    flex-shrink: 0;
    margin-left: 520px;

  }

  
  /* fifth_part */
  /* #About_us{
    color: #202020;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 68px;
    text-align: center;
  } */


  .fifth_sub{
     display:flex;
    justify-content:space-around;
    margin-top: 59px;

 
  }
  #pinned_loc{
     /* border: 5px solid yellow; */
     width: 70px;
     height: 70px;
     flex-shrink: 0;
    margin-left: 115px;  
  }
  #notification{
    /* border: 5px solid yellow; */
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    margin-left: 115px;  

  
  }
  #fifthservice{
    /* border: 5px solid yellow; */
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    margin-left: 115px;  

 
  }
  .fifth_arrow{
    margin-top: 44px;
  }
  .fifth_para{
    color: #606060;
    text-align: center;
    justify-content: center;
    margin-top: 33px;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    width: 296px;
    height: 74px;
    flex-shrink: 0; 
  }
  .sixth_part{
        /* border: 5px solid yellow; */
        display: flex;
        margin-top: 50px;



  }
  /* .sixth_wrap{
    border: 5px solid red;
 

  }
  .sixth_subPart{
    border: 5px solid blue;



  }
  .sixth_sub{
    border: 5px solid greenyellow;
    

  } */
  #map_loc{
    width: 614.962px;
    height: 508.308px;
    flex-shrink: 0;
    margin-left: 200px;
  }
  .sixth_heading{
    color: #202020;
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: 60px; /* 150% */
margin-left: 160px;
margin-top:150px ;
width:448px
  }
.sixth_para{
    color: #606060;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 31px; /* 172.222% */
width: 414px;
margin-left: 160px;

}
/* location search */
.sixth_sub1{
    display:flex;
    margin-top: 51px;


}
.sixth_position{
    display:flex;

    

}
.sixth_position{
    border-radius: 10px;
    background: #FFF;
    box-shadow: 3px 3px 10px 3px rgba(139, 139, 139, 0), -2px -2px 10px 0px rgba(139, 139, 139, 0.10);
    width: 384px;
    height: 75px;
    flex-shrink: 0;
    margin-left: 157px;
}
.sixth_input{
    color: #b9b9b9;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    width: 176px;
    
    margin-left: 13px;
    margin-top: 22px;
    margin-bottom: 22px;

}
    
#loc_svg{
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    margin-top: 22px;
    
}
.sixth_btn{

    font-family: Poppins;
    color:white;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 31px; /* 155% */
    width: 142px;
    height: 75px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #1A9E75;
    box-shadow: 3px 3px 10px 3px rgba(139, 139, 139, 0.10), -2px -2px 10px 0px rgba(139, 139, 139, 0.10);

}
/* fifth_heading */
/* .fifth_heading{
    color: #202020;
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: 68px; /* 170% 
width: 448px;
margin-top: 102px;

} */
/* seventh_part */
.seventh_part{
    margin-top: 64px;
 
}
.seventh_part1{
     display: flex;
    justify-content: space-around;
    position:relative;


 
}
#trdd_leftarrow{
    width: 40px;
    height: 40px;
    margin-top:220px ;

 

}
#seventh_img{
    border-radius: 8px;
    background: lightgray -6px 0px / 104.688% 100% no-repeat, #FFF;
box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.10);
width: 256px;
height: 384px;
flex-shrink: 0;

 
 

}
#seventh_img1{
    border-radius: 8px;
    background: lightgray -6px 0px / 104.688% 100% no-repeat, #FFF;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.10);
    width: 256px;
    height: 384px;
    flex-shrink: 0;
    

}
#seventh_img2{
    border-radius: 8px;
    background: lightgray -6px 0px / 104.688% 100% no-repeat, #FFF;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.10);
    width: 256px;
    height: 384px;
    flex-shrink: 0;
    
}
#seventh_img3{
    border-radius: 8px;
    background: lightgray -6px 0px / 104.688% 100% no-repeat, #FFF;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.10);
    width: 256px;
    height: 384px;
    flex-shrink: 0;

}
.seventh_heading{
    color: #202020;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    width: 200.02px;
    height: 32.97px;
    flex-shrink: 0;


}
.seventh_para{
    color: #606060;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    width: 211px;
    height: 70px;
    flex-shrink: 0;
    margin-top: 14px;
    }
  
.seventh_sub{
    border-radius: 8px;
    background: white;
    width: 234px;
    height: 187px;
    flex-shrink: 0; 
    position: absolute;
     bottom: 25px;
    margin-left: 13px;

 }
 .seventh_sub1{
   
 }
 .seventh_sub2{
    color:#FFDD2D;
    display: flex;
    margin-left: 100px;
    margin-top: 12px;
     width: 16px;
    height: 16px;
    flex-shrink: 0;   
    
 }
 .seventh_span{
    color: #030303;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 15px; /* 125% */
 margin-left: 181px;
   }
#thrr_righarrow{
    margin-top:220px ;
    width: 40px;
    height: 40px;
 
}

/* eighth_part */
.eighth_part{
    /* border: 4px solid red; */
    margin-top: 100px;

}
.eighth_sub{
    /* border: 4px solid black; */
    display:flex;



}
.eighth_part1{
    /* border: 4px solid blue; */


}

.fifth_heading_eighth_heading{
    color: #202020;
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: 68px; /* 170% */
margin-left: 160px;

}
.eighth_para{
    color: #606060;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 31px; /* 172.222% */
    margin-left: 160px;
    width: 480px;

    

   

}

.eighth_playstore{
    width: 192px;
    height: 140px;
    flex-shrink: 0;
    margin-top: 116px;
    margin-left: 40px;



}
.eighth_apple{
    width: 192px;
    height: 140px;
    flex-shrink: 0;
    margin-top: 116px;
    margin-left: 160px;


   

}
.eighth_part2{
    display:flex;
    /* border: 5px soild yellow; */
    position: relative;


}
.eighth_homepage{
    margin-left: 300px;
    margin-top: 36px;



}
.eighth_homepage1{
    margin-right: 85px;
    position: absolute;
    margin-left: 300px;
    margin-left: 550px;
 

}
/* ninth_part */
.ninth_part{

}
.ninth_box{
    border-radius: 10px;
    background: #FFF;
    box-shadow: 2px 2px 10px 3px rgba(139, 139, 139, 0.05), -2px -2px 10px 0px rgba(139, 139, 139, 0.05);
    width: 928px;
    height: 75px;
    margin-left: 256px;
    flex-shrink: 0;
    padding-top: 22px;

    
    
    }
  
.ninth_para{
    width: 666px;
    color: #606060;
    font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 31px; /* 172.222% */
margin-left: 40px;
display:flex;

 
}
.ninth_arrow{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-left: 879px;
    

}
.footer_part{
    background: #1A9E75;
    width: 100%;
    height: 422px;
    flex-shrink: 0;

}
.footer_subPart{
    /* border: 4px solid blueviolet; */
    display:flex;
    justify-content: space-around;
    padding-top: 46px;

}
 
 #ninth_img1{
    width: 67px;
height: 48px;
margin-left: 142px;
flex-shrink: 0;

 }
 #ninth_img2{
 width: 136px;
height: 43px;
flex-shrink: 0;


 }
 .snd_para_1{
    color: #FFFBFB;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
margin-left: 161px;
width: 255px;
margin-top: 19px;


 }

.footer_followUs{
    /* border: 4px solid rgb(64, 255, 0); */
    margin-left: 161px;
    margin-top: 33px;
 

}

#follow{
     color: #FFFBFB;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 120% */
width: 148px;
text-decoration: none;  
cursor:pointer;   


}
#icons_social{
    /* border:3px solid #FFDD2D; */
    color:#FFFFFF;
    width: 250px;
    height: 50px;
    flex-shrink: 0;
    margin-top: 21px;
    display: flex;
    justify-content: space-around;
    font-size:38px;

   

}
#fb{
    width: 38px;
    height: 38px;
    flex-shrink: 0;
    color:#FFFFFF;
   
}
#twit{
    width: 38px;
    height: 38px;
    flex-shrink: 0;
    color:#FFFFFF;

}
#insta{
    width: 38px;
    height: 38px;
    flex-shrink: 0;
    color:#FFFFFF;
}
#linkedin{
    width: 38px;
    height: 38px;
    flex-shrink: 0;
    color:#FFFFFF;

}

.footer_aboutUs{
    /* border: 4px solid  white; */
    text-decoration: none;

 

}
.footer_part1{
    color: #FFFBFB;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 120% */
width: 129px;
list-style-type:  none;
text-decoration: none;


}
.footer_part2{
    margin-top:6px ;
    /* border: 4px solid  rgb(211, 233, 8); */
    color: #FFFBFB;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    list-style-type:none;
    text-decoration: none;

 }
 
 
.footer_legal{
    /* border: 4px solid rgb(255, 0, 85); */
    width: 350px;


}
.footer_info{
    /* border: 4px solid rgb(247, 243, 244); */
    display: flex;
 

}
#floc{
    color: #FFFBFB;
    margin-top: 10px;
    margin-right: 10px;
    
}
#fphone{
    color: #FFFBFB;
    margin-right: 10px;
    margin-top: 8px;



}
#fmail{
    color: #FFFBFB;
    margin-right: 10px;
    margin-top: 8px;




}
#footer_para{
    height:48px;
    width: 274px;
    
}
.copyrights{
    color: #FFFBFB; 
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    text-align: center;
    margin-top: 76px;
    
}

 

 


 
